<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src='{{static_url("jquery-1.10.2.js")}}' charset="UTF-8"></script>
</head>
<body>
<form id="my_form" name="form" action="/dlu" method="POST" enctype="multipart/form-data">
    <div id="main">
        <input name="favor" type="text"/>
        <input name="fafafa" id="my_file" type="file"/>
        <input type="submit" value="提交"/>
        <input type="button" name="Submit" value="返回首页" onclick ="location.href='index'"/>
    </div>
</form>
</body>
</html>